.countries-search {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  font-family: "Arial, sans-serif";
}

.countries-search input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 16px;
}

.countryCard {
    width: 180px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.countryCard img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    object-fit: cover;
}
.countryCard p {
    margin-top: 10px;
    font-weight: bold;
}